.bg_white{
    background-color: white;
}
.bg_blue{
    background-color: #004AFF;
}
.bg_litegrey{
    background-color: #F3F5F9 ;
}
.bg_gradient_blue{
    background: linear-gradient(180deg, #0047C5 0%, #001F9A 100%); ;
}
.bg_darkblue{
    background-color:#031C4E ;
}

/* color font */
.dark_blue{
    color: #031C4E;
}
.blue{
    color: #026BFF;
}
.lite_blue{
    color: #1877FF;
}
.litelite_blue{
    color: #19AFCA;
}
.circle_blue{
    color: #006AFF;
}
.white{
    color: white;
}
.grey{
    color: #B8C2E2;
}
.dark_grey{
    color: #7C879F;
}
.lite_grey{
    color: #9BA4B6;
}
