/* clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* font styles */
body{
    font-family:'Inter-Medium','Helvetica','san-serif';
}
.bold{
    font-weight: 600;
}

/* list style none */
ul>li{
    list-style: none;
}
ul>li>a{
    color: #031C4E;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
}
a{
    text-decoration: none;
    color: #031C4E;
}


/* flex styles */
.flex{
    display: flex;
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
.flex_jc_sb{
    display: flex;
    justify-content: space-between;
}

.flex_ai_cent{
    align-items: center;
    display: flex;
}
/* display */
.block{
    display: block;
}
/* padding */
.p10{
    padding: 10px;
}
/* vertical padding container */
.vp10{
    padding: 5px 0;
}
.vp15{
    padding: 15px 0;
}
.vp40{
    padding: 40px 0;
}
.vp70{
    padding: 70px 0;
}

.tp70{
    padding-top: 70px;
}
/* margin bottom */
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb40{
    margin-bottom: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.mb80{
    margin-bottom: 80px;
}

/*Lateral margin */
.mr40{
    margin-right: 40px;
}

/* buttons */
.btn{
    padding: 0.5rem 0.5rem;
    border-radius:5px ;
}

.title_section{
    color: #031C4E;
    font-size: 2rem;
    text-align: center;
}
.p_section{
    font-size: 1.3rem;
    text-align: center;
}

p{
    color: #586686;
}
/* float right */
.right{
    float: right;
}