/*++++++++++++++++ 
    Navbar
++++++++++++++++++*/

.logo{
    width: 100%;
}
ul>li>a>i{
    position: relative;
    top:10%
}

.btn_signup{
    color:#579AFF;
    border: 2px solid #579AFF;
}
#menu_bar{
    display: none;
}

/*++++++++++++++++ 
    section 1 
++++++++++++++++++*/
.bg_image{
    background-image: url(../../img/bg-banner-home.jpg);
    background-size: 115%;
    background-position: 40% 10%;
    
}
.signup_section{
    color: white;
}

h1{
    font-size: 3.6rem;
    margin-bottom: 10px;
}

.main_p{
    width: 90%;
    line-height: 1.8rem;
    font-weight: 400;
    font-size: 1.25rem;
    color: #B9CCFF;
}

.signup_form{
    background-color: white;
    text-align: center;
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -15px;
    margin-left: 10px;
}
.signup_form > h2{
    font-size: 1.7rem;
    margin-bottom: 8px;
}
#email,#name{
    width: 100%;
    margin-bottom: 10px;
    line-height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.signup_form>.btn{
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.google_icon{
    height: 15px;
    position: relative;
    left:-30%
}
.btn_register{
    background-color: #579AFF;
    color: white;
}
.btn_google{
    box-shadow: 1px 1px  3px grey;
}
.term_service{
    font-size: 0.8rem;
    font-weight: bold;
}
.term_service_link{
    color: #5096FF;
    text-decoration: underline;
    font-weight: bold;
}

/*++++++++++++++++ 
    section 2 
++++++++++++++++++*/
#cont_2{
    text-align: center;
}
.logos_img{
    width: 15%; 
    margin-right: 20px;
}
.logos_img:last-child{
    margin-right: 0;
}

#cont_2 h4{
    color: #8891A9;
}



/*++++++++++++++++ 
    section 3 
++++++++++++++++++*/

#cont_3> .container > p{
    color: #586686;
    font-size: 1.3rem;
}

.quality_box{
    padding-left: 15px;
    border-left: 1px solid #CDCDCD;
    text-align: left;
    line-height: 45px;
}
.quality_box > a{
   color: #7C879F;
   font-weight: 100;
   font-size: 1.1rem;
}
.card_cont3{
    text-align: left;
    height: 160px;
    margin-bottom: 15px;
    padding-right: 10px;
}

.card_cont3>h5{
    font-size: 1.1rem;
}

/*++++++++++++++++ 
    section 4 
++++++++++++++++++*/
.carousel{
    text-align: center;
}
.carousel_img{
    width: 60%;
    height:350px;
}

.carousel_img_box>i{
    margin: 0 20px;
    font-size: 3rem;
}
.fa-angle-left{
    color:#6F7B97 ;
}
.carousel_span{
    display: block;
    font-weight: 600;
    font-size: 0.9rem;
}
.carousel_circle{
    font-size: 0.7rem;
}
/*++++++++++++++++ 
    section 5 
++++++++++++++++++*/

.features > *{
    margin-bottom: 10px;
}
.features{
    padding-right: 20px;
}
.features>h5{
    font-size: 1.2rem;
}
.features>p{
    font-size: 0.95rem;
}
.features>a{
    font-size: 0.90rem;
}

/*++++++++++++++++ 
    section 6
++++++++++++++++++*/

.testspeed_row{
    border-bottom: 1px solid white;   
}
.state_abbrev{
    font-size: 0.75rem;
}
.state_speed{
    font-size: 0.70rem;
}
.testspeed_row >a{
    float: right;
    font-size: 0.75rem;
}
.left_col{
    padding-right: 20px;
}
.right_col{
    padding-left: 20px;
}

/*++++++++++++++++ 
    section 7
++++++++++++++++++*/
.carousel_img_2{
    width: 60%;
    height:350px;
}
.carousel_img_2 *{
    display: block;
}
.carousel_img_2>img{
    display: inline-block;
    width: 55%;
}
.p_carousel{
    font-size: 1.3rem;
}
/*++++++++++++++++ 
    section 8
++++++++++++++++++*/

.btn_create_account{
    color:#3086FF;
    background-color: white;
    padding:0.75rem 1rem;
}

/* FOOTER */
footer .col-4{
    margin-top: -20px;
}

footer .col-8>.col-3 a.lite_grey{
    
    font-size: 0.9rem;
}
footer .col-8>.col-3 a{
    padding-bottom: 10px;
    display: block;
}

.small_logo{
    max-width: 50px;
}
.social_logos>a>i{
    margin-right: 10px;
    font-size: 1.4rem;
    color:#7C879F;
}
.made_in{
    color: #526181;
    font-size: 0.9rem;
}